<dl class="dl-horizontal">
  <dt>Ativa</dt>
  <dd>
    {{#if model.is_active_feed_version}}
      <span style="color: green;">
        {{fa-icon icon="lightbulb-o" title="Esta é a versão ativa da feed."}}
      </span>
      <small>
        esta é a <strong style="color: green;">versão ativa da feed</strong>
      </small>
    {{/if}}
  </dd>
  <dt>Buscada do URL</dt>
  <dd><a href="{{model.url}}">{{model.url}}</a></dd>
  <dt>Versão da Feed Arquivada</dt>
  <dd>
    {{#if model.download_url}}
      <a href="{{model.download_url}}">Download</a>
    {{else}}
      Nenhuma Versão da Feed arquivada
    {{/if}}
  </dd>
  <dt>SHA1</dt>
  <dd>{{model.sha1}}</dd>
  <dt>MD5</dt>
  <dd>{{model.md5}}</dd>
  <dt>Primeira data no calendário</dt>
  <dd>{{model.earliest_calendar_date}}</dd>
  <dt>Última data no calendário</dt>
  <dd>{{model.latest_calendar_date}}</dd>
  <dt>Buscada</dt>
  <dd>{{time-since-with-mouseover model.fetched_at}}</dd>
  <dt>Importada</dt>
  <dd>{{time-since-with-mouseover mod.imported_at}}</dd>
  <dt>Nível de Importação</dt>
  <dd>{{model.import_level}}</dd>
  <dt>Tags</dt>
  <dd>{{stringify-json model.tags}}</dd>
</dl>

{{#each model.feed_version_infos as |modelInfo| }}
  {{#if (eq modelInfo.type "FeedVersionInfoStatistics")}}
    {{service-schedule-chart model=model}}
    {{#collapsable-panel title="Arquivar ficheiros e conteúdo CSV" show=false}}
      {{feed-version-info-panel model=modelInfo}}
    {{/collapsable-panel}}
  {{/if}}
{{/each}}

{{#each model.feed_version_infos as |modelInfo| }}
  {{#if (eq modelInfo.type "FeedVersionInfoConveyalValidation")}}
    {{#collapsable-panel title="Relatório de validação Conveyal gtfs-lib" show=false}}
      {{json-editor json=modelInfo.json mode='view' expand='all'}}
    {{/collapsable-panel}}
  {{/if}}
{{/each}}

{{#if model.feedvalidator_url}}
  {{#collapsable-panel title="Relatório de validação Google feedvalidator.py" show=false}}
    <div><a target="_blank" href="{{model.feedvalidator_url}}">Ver resultados</a></div>
    <iframe class="feed-version-iframe" src="{{model.feedvalidator_url}}"></iframe>
  {{/collapsable-panel}}
{{/if}}

{{#each model.issues as |issue|}}
  {{#if (eq issue.issue_category "feed_import")}}
    {{#collapsable-panel title="Problema de importação..." panelClass="panel-danger"}}
      {{issue-contents issue=issue showEntities=false}}
    {{/collapsable-panel}}
  {{/if}}
{{/each}}

{{#each model.feed_version_imports as |feedVersionImport| }}
  {{feed-version-import-panel feedVersionImport=feedVersionImport}}
{{/each}}


<!-- {{feed-version-imports-table models=model.feed_version_imports}} -->
