<h2>{{link-to 'Utilizadores' 'users'}} / {{model.name}}</h2>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd>{{model.email}}</dd>
  <dt>Afiliação</dt>
  <dd>{{model.affiliation}}</dd>
  <dt>Tipo de Utilizador</dt>
  <dd>{{underscored-string-to-title-case model.user_type}}</dd>
</dl>

{{#if (or currentUser.user.admin (eq currentUser.user.id model.id))}}
  {{#link-to 'users.edit' model class="btn btn-primary" }}Editar{{/link-to}}
{{/if}}

<h2>Changesets pelo Utilizador</h2>

{{changeset-table changesets=model.changesets showUserColumn=false}}
