<h2>{{link-to 'Changesets' 'changesets'}} / Editar Changeset #{{model.changeset.id}}</h2>

{{changeset-form changeset=model.changeset users=model.users}}

{{#link-to 'changesets.show' model.changeset class="btn btn-default"}}Cancelar{{/link-to}}
<input type="button" {{action 'delete'}} value="Apagar" class="btn btn-danger">
<input type="button" {{action 'update'}} value="Atualizar" class="btn btn-primary pull-right">
