<h2>{{link-to 'Conjuntos de Alteração' 'changesets'}} / Editando Conjunto de Alteração #{{model.changeset.id}}</h2>

{{changeset-form changeset=model.changeset users=model.users}}

{{#link-to 'changesets.show' model.changeset class="btn btn-default"}}Cancelar{{/link-to}}
<input type="button" {{action 'delete'}} value="Apagar Conjunto de Alteração" class="btn btn-danger">
<input type="button" {{action 'update'}} value="Atualizar Conjunto de Alteração" class="btn btn-primary pull-right">
