{{#if model.json.error}}
<h4>Ocorreu um erro ao processar esta Versão da Feed</h4>
<p>
  {{model.json.error}}
</p>

{{else}}

  <h4>
    Ficheiros no Arquivo
    {{#component "fa-icon" "question-circle"}}
      {{#popover-on-component}}
        <p>Esta é uma lista de todos os ficheiros no arquivo <code>.zip</code>, incluindo ficheiros que são opcionais ou fora da especificação GTFS.</p>
      {{/popover-on-component}}
    {{/component}}
  </h4>
  <ul>
    {{#each model.json.filenames as |filename|}}
      <li>{{filename}}</li>
    {{/each}}
  </ul>

  <h4>
    Sumários do Conteúdo dos Ficheiros
    {{#component "fa-icon" "question-circle"}}
      {{#popover-on-component}}
        <p>Estas tabelas sumarizam os conteúdos dos ficheiros <code>.txt</code> que estão incluídos na especificação GTFS. Ficheiros que não estão aprovados pela <a href="https://github.com/tpportugal/tpp_gtfs">TPP GTFS lib</a> não são lidos (por razões de segurança e de desempenho). Dentro dos ficheiros aprovados, todas as colunas são lidas, mesmo colunas que sejam opcionais ou fora da especificação GTFS.</p>
      {{/popover-on-component}}
    {{/component}}
  </h4>
  {{#each-in model.json.statistics as |key value|}}
    <table class="table table-striped">
      <caption>
        <h4>
          {{key}}
          <small class="pull-right">
            <a href="{{links-to-gtfs-spec-and-best-practices filename=key destination="spec"}}" target="_blank">{{fa-icon "external-link"}} Especificação GTFS acerca de {{key}}</a>
            &nbsp;
            <a href="{{links-to-gtfs-spec-and-best-practices filename=key destination="bestPractices"}}" target="_blank">{{fa-icon "external-link"}} Melhores Práticas GTFS acerca de {{key}}</a>
          </small>
        </h4>
      </caption>
      <thead>
        <tr>
          <th>Nome da Coluna</th>
          <th># total de fileiras</th>
          <th># de valores únicos nas linhas</th>
          <th>Valor mínimo nas linhas</th>
          <th>Valor máximo nas linhas</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in value as |column stats|}}
          <tr>
            <td>{{column}}</td>
            <td>{{stats.total}}</td>
            <td>{{stats.unique}}</td>
            <td>{{stats.min}}</td>
            <td>{{stats.max}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  {{/each-in}}

{{/if}}
