<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      {{#if currentUser.user.admin}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{closeText}}</button>
          <button type="button" class="btn btn-primary" {{action 'ok'}}>{{okText}}</button>
          <button type="button" class="btn btn-danger" {{action 'danger'}}>{{dangerText}}</button>
        </div>
      {{else}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{closeText}}</button>
          <button type="button" class="btn btn-primary" {{action 'ok'}}>{{okText}}</button>
        </div>
      {{/if}}
    </div>
  </div>
</div>
