<div class="btn-group dropdown {{if dropDownExpanded "open"}}">
  <button type="button" {{action 'toggleDropDownExpanded'}} class="btn btn-warning dropdown-toggle" aria-haspopup="true" aria-expanded="{{dropDownExpanded}}">
    Alterar esta Versão da Feed <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a {{action 'enqueue' 1}}>
        Agendar nível 1: paragens e rotas
        {{#if feedVersion.import_level_at_least_level_one}}
          <span class="badge">novamente</span>
        {{/if}}
      </a>
    </li>
    <li>
      <a {{action 'enqueue' 2}}>
        Agendar nível 2: paragens, rotas, e horários
        {{#if feedVersion.import_level_at_least_level_two}}
          <span class="badge">novamente</span>
        {{/if}}
      </a>
    </li>
    <li>
      <a {{action 'enqueue' 3}}>
        Agendar nível 3: será buscada pelo Valhalla dev
        {{#if feedVersion.import_level_at_least_level_two}}
          <span class="badge">novamente</span>
        {{/if}}
      </a>
    </li>
    <li>
      <a {{action 'enqueue' 4}}>
        Agendar nível 4: será buscada pelo Valhalla prod
        {{#if feedVersion.import_level_at_least_level_two}}
          <span class="badge">novamente</span>
        {{/if}}
      </a>
    </li>
    <li role="separator" class="divider"></li>
    {{#if feedVersion.is_active_feed_version}}
      <li><a><em>Já é a versão ativa da feed.</em></a></li>
    {{else}}
      <li><a {{action 'setAsActiveFeedVersion'}}>Marcar como Versão Ativa da Feed</a></li>
    {{/if}}
    <li role="separator" class="divider"></li>
    {{#if feedVersion.import_level_at_least_level_two}}
      <li>
        <a {{action 'changeImportLevel' 2}}>
          Marcar no nível 2: não será buscada pelo Valhalla
          {{#if feedVersion.import_level_is_level_two}}
            <span class="badge">atual</span>
          {{/if}}
        </a>
      </li>
      <li>
        <a {{action 'changeImportLevel' 3}}>
          Marcar no nível 3: será buscada pelo Valhalla dev
          {{#if feedVersion.import_level_at_least_level_three}}
            <span class="badge">atual</span>
          {{/if}}
        </a>
      </li>
      <li>
        <a {{action 'changeImportLevel' 4}}>
          Marcar no nível 4: será buscada pelo Valhalla prod
          {{#if feedVersion.import_level_at_least_level_four}}
            <span class="badge">atual</span>
          {{/if}}
        </a>
      </li>
    {{else}}
      <li><a><em>Deverá ser importada no nível 2 antes de ser disponiblizada para busca pelo Valhalla.</em></a></li>
    {{/if}}
  </ul>
</div>
