<table class="table table-hover">
  <thead>
    <th>ID Onestop</th>
    <th>Nome</th>
    <th>País</th>
    <th>Distrito/Região</th>
    <th>Concelho</th>
    <th>Ligação</th>
  </thead>
  <tbody>
    {{#each operators as |operator|}}
      <tr>
        <td>{{link-to operator.onestop_id "operators.show" operator}}</td>
        <td>{{operator.name}}</td>
        <td>{{operator.country}}</td>
        <td>{{operator.state}}</td>
        <td>{{operator.metro}}</td>
        <td><a href="https://tpp.pt/feed-registry/operators/{{operator.onestop_id}}">
        {{fa-icon "external-link"}} Ver no Registo de Feeds</a></td>
      </tr>
    {{else}}
      <p>Nenhum operador.</p>
    {{/each}}
  </tbody>
</table>
