<h2>{{#link-to 'feeds'}}Feeds{{/link-to}} / Adicionar em Massa</h2>
{{#if outputResults}}
  <table class="table table-striped">
    <thead>
      <th>URL</th>
      <th>Estado</th>
      <th>Ações</th>
    </thead>
    <tbody>
      {{#each outputResults as |result|}}
        <tr class="{{if result.onestopId "success" "danger"}}">
          <td>{{result.url}}</td>
          <td>
            {{#if result.onestopId}}
              Já existe no TPP!
            {{else}}
              Não encontrada no TPP.
            {{/if}}
          </td>
          <td>
            {{#if result.onestopId}}
              {{#link-to 'feeds.show' result.onestopId target="_blank"}}Ver no Expedidor{{/link-to}}
            {{else}}
              <a href="https://tpp.pt/feed-registry/feeds/new?feedUrl={{result.url}}" target="_blank">Adicionar ao Registo de Feeds</a>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <button {{action "clear"}} class="btn btn-default">{{fa-icon icon="long-arrow-left"}} Apagar ou Editar URLs</button>
{{else}}
  <p>Introduza a lista de URLs das feeds abaixo, separados por quebras de linha.</p>
  {{textarea class="form-control" value=inputUrls cols=100 rows=6}}
  <button {{action "add"}} class="btn btn-primary">Verificar e Adicionar URLs</button>
{{/if}}

