<h2>{{link-to 'Utilizadores' 'users'}} / Editando {{model.name}} {{model.email}}</h2>

{{user-form user=model}}

{{#link-to 'users.show' model}}Cancelar{{/link-to}}
<input type="button" {{action 'update'}} value="Update" class="btn btn-primary">
