<h2>{{link-to 'Changesets' 'changesets'}} / Changeset #{{model.id}}</h2>

<dl class="dl-horizontal">
  <dt>Notas</dt>
  <dd>{{model.notes}}</dd>
  <dt>Aplicado</dt>
  <dd>
    {{#if model.applied}}
      <span style="color: green;">
        {{fa-icon icon="check-square-o" title="Este changeset foi aplicado."}}
      </span>
    {{else}}
      {{fa-icon icon="square-o" title="Este changeset não foi aplicado."}}
    {{/if}}
  </dd>
  <dt>Criado</dt>
  <dd>{{time-since-with-mouseover model.created_at}}</dd>
  <dt>Atualizado</dt>
  <dd>{{time-since-with-mouseover model.updated_at}}</dd>
  {{#if model.user}}
    <dt>Autor</dt>
    <dd>
      {{#link-to 'users.show' model.user}}{{model.user.name}} {{model.user.email}}{{/link-to}}
    </dd>
  {{/if}}
  {{#if model.imported_from_feed}}
    <dt>Importado da Feed</dt>
    <dd>
      {{#link-to 'feeds.show' model.imported_from_feed}}{{model.imported_from_feed.onestop_id}}{{/link-to}}
    </dd>
  {{/if}}
  {{#if model.imported_from_feed_version}}
    <dt>Importado da Versão da Feed</dt>
    <dd>
      {{#link-to 'feeds.show' model.imported_from_feed}}{{model.imported_from_feed_version.sha1}}{{/link-to}}
    </dd>
  {{/if}}
</dl>

{{#unless model.applied }}
  {{#link-to 'changesets.edit' model.id class="btn btn-primary" }}Editar{{/link-to}}
  <input type="button" class="btn btn-danger" {{action 'apply'}} value="Aplicar">
{{/unless}}

{{#if model.feeds_created_or_updated}}
  <h2>Feeds criadas/atualizadas por este changeset</h2>
  <ul>
    {{#each model.feeds_created_or_updated as |feed|}}
      <li>
        {{#link-to 'feeds.show' feed}}{{feed.onestop_id}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if model.change_payloads}}
  <h2>Carga do Changeset</h2> {{change-payloads-list changeset=model}}
{{/if}}
