<div class="row">
  <div class="col-md-6">
    <h2>{{link-to 'Feeds' 'feeds'}} / {{model.feed.onestop_id}}</h2>
  </div>
  <div class="col-md-6 text-right">
    {{feed-fetcher-controls feedFetchStarted="feedFetchStarted" feed=model.feed}}
    {{#link-to 'feed-versions.upload' (query-params feed_onestop_id=model.feed.onestop_id) class="btn btn-primary"}}Fazer Upload de uma Versão{{/link-to}}
  </div>
</div>

{{feed-form model=model.feed}}

<h2>Operadores na Feed</h2>
<table class="table">
  <thead>
    <th>ID Onestop</th>
    <th>ID de agência no GTFS</th>
  </thead>
  <tbody>
    {{#each model.feed.operators_in_feed as |oif|}}
      <tr>
        <td>{{link-to oif.operator_onestop_id 'operators.show' oif.operator_onestop_id }}</td>
        <td>
          <pre>{{oif.gtfs_agency_id}}</pre>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Problemas de busca de feed</h2>
{{#if model.feed.hasIssues}}
  {{#each model.feed.issues as |issue|}}
    {{#collapsable-panel title="Erro ao buscar feed..." panelClass="panel-danger"}}
      <strong>Problema criado pela busca de feed {{moment-from-now model.feed.last_fetched_at}}</strong><br/>
      <b>Tipo de problema:</b> {{issue.issue_type}}<br/>
      <b>Descrição:</b> {{issue.computeTypeDescription}}<br/>
      <h4>{{#link-to 'issues.feed-fetch.show' issue.id}}
        Ver detalhes e resolver problema #{{issue.id}} {{fa-icon "question" size=2 title='O id do problema unicamente identifica o Problema no Banco de Dados'}}
      {{/link-to}}</h4>
    {{/collapsable-panel}}
  {{/each}}
{{else}}
  <strong>Nenhum</strong>
{{/if}}
<h2>Problemas de importação de Feed</h2>
<table class="table table-hover">
  <thead>
    <tr>
      {{#if (gt model.routeGeometryIssues.meta.total 0)}}
        <th>Problemas de geometria de rota: {{model.routeGeometryIssues.meta.total}}</th>
      {{else}}
        <th>Problemas de geometria de rota</th>
      {{/if}}
      {{#if (gt model.stationHierarchyIssues.meta.total 0)}}
        <th>Problemas de hierarquia de paragem: {{model.stationHierarchyIssues.meta.total}}</th>
      {{else}}
        <th>Problemas de hierarquia de paragem</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#if (gt model.routeGeometryIssues.meta.total 0)}}
        <td class="danger">
          {{#link-to 'issues.route-geometry.index' (query-params of_feed_entities=model.feed.onestop_id)}}
            Ver e resolver.
          {{/link-to}}
        </td>
      {{else}}
        <td class="success">
          <strong>Nenhum</strong>
        </td>
      {{/if}}
      {{#if (gt model.stationHierarchyIssues.meta.total 0)}}
        <td class="danger">
          {{#link-to 'issues.station-hierarchy.index' (query-params of_feed_entities=model.feed.onestop_id)}}
            Ver e resolver.
          {{/link-to}}
        </td>
      {{else}}
        <td class="success">
          <strong>Nenhum</strong>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>

<h2>Criar um problema</h2>
<h4>{{#link-to 'issues.new' model.feed.onestop_id  (query-params imported_from_feed=model.feed.onestop_id)}}
  Criar um problema com entidades da feed {{model.feed.onestop_id}}.
{{/link-to}}</h4>

<h2>Changesets importados desta feed</h2>
<ul>
  {{#each model.feed.changesets_imported_from_this_feed as |changeset|}}
    <li>
      {{#link-to 'changesets.show' changeset}}
        Changeset #{{changeset.id}}
      {{/link-to}}
    </li>
  {{else}}
    <p>Nenhum changeset foi importado desta feed.</p>
  {{/each}}
</ul>

<h2>Versões da feed</h2>

<table class="table">
  <tbody>
    <tr>
      <td>Total de Versões</td>
      <td>{{model.feedVersionUpdateStatistics.feed_versions_total}}</td>
    </tr>
    <tr>
      <td>Tempo médio entre atualizações de Versão</td>
      <td>{{model.feedVersionUpdateStatistics.fetched_at_frequency}} days</td>
    </tr>
    <tr>
      <td>Tempo médio de duração de Versão</td>
      <td>{{to-fixed model.feedVersionUpdateStatistics.scheduled_service_duration_average 2}} dias</td>
    </tr>
    <tr>
      <td>Sobreposição média entre Versões subsequentes</td>
      <td>{{to-fixed model.feedVersionUpdateStatistics.scheduled_service_overlap_average 2}} dias</td>
    </tr>
  </tbody>
</table>

{{feed-versions-table models=model.feedVersions sortKey=sort_key}}
