<h3>Issue type</h3>
<b>{{issue.issue_type}}</b>
<p>{{issue.computeTypeDescription}}</p>
{{#if showEntities}}
  <h3>Entidades</h3>
  <table class="table">
    <thead>
      <th>ID da Entidade</th>
      <th>Atributo Culpado</th>
      <th>Valor do Atributo</th>
    </thead>
    <tbody>
      {{#each issue.entities_with_issues as |entity_with_issue|}}
        <tr>
          <td>{{entity_with_issue.onestop_id}}</td>
          <td>{{entity_with_issue.entity_attribute}}</td>
          <td>{{get entity_with_issue.entity entity_with_issue.entity_attribute}}</td>
        </tr>
      {{else}}
        <p>Nenhuma entidade.</p>
      {{/each}}
    </tbody>
  </table>
{{/if}}
<h3>Detalhes</h3>
<p>{{issue.details}}</p>
<h3>Criado</h3>
<p>{{time-since-with-mouseover issue.created_at}}</p>
<h3>Atualizado</h3>
<p>{{time-since-with-mouseover issue.updated_at}}</p>
<h3>Criado pelo changeset</h3>
{{#if issue.created_by_changeset_id}}
  {{issue.created_by_changeset_id}}
{{else}}
  Nenhum.
{{/if}}
