<div class="row">

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        País:
      </span>
      {{#power-select
        options=geographies.countries
        selected=country
        onchange=(action (mut country))
        allowClear=true
        as |country|
      }}
        {{country}}
      {{/power-select}}
    </div>
  </div>

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        Distrito/Região:
      </span>
      {{#power-select
        options=geographies.states
        selected=state
        onchange=(action (mut state))
        allowClear=true
        as |state|
      }}
        {{state}}
      {{/power-select}}
    </div>
  </div>

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        Concelho:
      </span>
      {{#power-select
        options=geographies.metros
        selected=metro
        onchange=(action (mut metro))
        allowClear=true
        as |metro|
      }}
        {{metro}}
      {{/power-select}}
    </div>
  </div>

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        Sem feed:
      </span>
      <select class="form-control" onchange={{action (mut without_feed) value="target.value"}}>
        <option value=""></option>
        <option value="false" selected={{eq without_feed "true"}}>Não</option>
        <option value="true" selected={{eq without_feed "true"}}>Sim</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        Tag
      </span>
      <input type="text" class="form-control" placeholder="Chave" value={{tag_key}} oninput={{action (mut tag_key_input) value="target.value"}} />
      <input type="text" class="form-control" placeholder="Valor" value={{tag_value}} oninput={{action (mut tag_value_input) value="target.value"}} />
      <span class="input-group-addon">
        <button {{action "setTagKeyValue"}} class="">Filtrar</button>
      </span>
    </div>
  </div>

</div>
