<div class="form-group">
  <label for="name">Nome</label>
  {{input id="name" value=user.name class="form-control"}}
</div>
<div class="form-group">
  <label for="email">Email</label>
  {{input id="email" value=user.email class="form-control"}}
</div>
<div class="form-group">
  <label for="affiliation">Afiliação</label>
  {{input id="affiliation" value=user.affiliation class="form-control"}}
</div>
<div class="form-group">
  <label>Tipo de utilizador</label>
  {{#power-select options=userTypes searchField="display" selected=user.user_type onchange=(action (mut user.user_type)) onfocus=(action "handleFocus") allowClear=true as |userType|}}
    {{underscored-string-to-title-case userType}}
  {{/power-select}}
</div>
{{#if (or currentUser.user.admin (eq currentUser.user.id user.id))}}
<div class="form-group">
  <label for="password">Palavra Passe</label>
  {{input type="password" id="password" value=user.password allowClear=true class="form-control"}}
</div>
<div class="form-group">
  <label for="passwordConfirmation">Confirmar Palavra Passe</label>
  {{input type="password" id="passwordConfirmation" value=user.password_confirmation allowClear=true class="form-control"}}
</div>
{{/if}}
