{{#if showIssue}}
  {{#modal-dialog title='Novo Problema' ok='saveIssue' close='hideIssue' okText='Criar' closeText='Fechar'}}
    {{json-editor json=createdIssue mode='view'}}
  {{/modal-dialog}}
{{/if}}

<div class="form-group">
  <label>Entidades</label>
  {{#power-select-multiple options=entities placeholder="Selecione IDs Onestop" selected=selectedEntities onchange=(action "handleEntityChanged") onFocus=(action "handleEntityFocus") as |onestop_id|}}
    {{onestop_id}}
  {{/power-select-multiple}}
</div>
<div class="form-group">
  <label>Tipo de Problema</label>
  {{#power-select options=issueTypes searchField="display" selected=issue_type onchange=(action (mut issue_type)) onfocus=(action "handleType") allowClear=true as |issueType|}}
    {{issueType}}
  {{/power-select}}
</div>
<div class="form-group">
  <label>Escolher Atributo</label>
  {{#power-select options=attributes searchField="display" selected=selectedAttribute onchange=(action (mut selectedAttribute)) onfocus=(action "handleAttribute") allowClear=true as |attribute|}}
    {{attribute}}
  {{/power-select}}
</div>
<div class="form-group">
  <label for="name">Detalhes</label>
  {{input id="details" value="" focus-out=(action "inputChanged") class="form-control"}}
</div>
<div class="form-group">
  <button type="button" class="btn btn-primary" {{action "createIssue"}}>Criar</button>
</div>
