{{#if currentlyFiltering}}
  {{#if filterByChangesetId}}
    <p>
      Mostrando actividade relacionada com o conjunto de alteração #{{filterByChangesetId}}
      ({{#link-to 'index' (query-params changeset=null)}}limpar filtro{{/link-to}})
   </p>
  {{/if}}
  {{#if filterByFeedOnestopId}}
    <p>
      Mostrando actividade relacionada com a feed #{{filterByFeedOnestopId}}
      ({{#link-to 'index' (query-params feed=null)}}limpar filtro{{/link-to}})
   </p>
  {{/if}}
{{else}}
  <p>
    Filtrar por conjunto de alteração:
    <ul>
      {{#each possibleChangesetsToFilterBy as |changesetId|}}
        <li>{{#link-to 'index' (query-params changeset=changesetId)}}#{{changesetId}}{{/link-to}}</li>
      {{/each}}
    </ul>
   </p>
  <p>
    Filtrar por feed:
    <ul>
      {{#each possibleFeedsToFilterBy as |feedOnestopId|}}
        <li>{{#link-to 'index' (query-params feed=feedOnestopId)}}{{feedOnestopId}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </p>
{{/if}}

{{#each activityUpdates as |activityUpdate|}}
  {{activity-update-list/activity-update-entry activityUpdate=activityUpdate}}
{{else}}
  <p>Sem actividades de atualização.</p>
{{/each}}
