<h2>{{link-to 'Problemas' 'issues'}} / Problema #{{model.id}}</h2>

<dl class="dl-horizontal">
  <dt>Tipo de Problema</dt>
  <dd>{{model.issue_type}}</dd>
  <dt>Detalhes</dt>
  <dd>{{model.details}}</dd>
  <dt>Aberto</dt>
  <dd>{{model.open}}</dd>
</dl>

<h2>Entidades no problema</h2>

<table class="table table-hover">
  <thead>
    <th>ID da Entidade</th>
    <th>Atributo da Entidade</th>
  </thead>
  <tbody>
    {{#each model.entities_with_issues as |entity_with_issue|}}
      <tr>
        <td>{{entity_with_issue.onestop_id}}</td>
        <td>{{entity_with_issue.entity_attribute}}</td>
      </tr>
    {{else}}
      <p>Sem entidades.</p>
    {{/each}}
  </tbody>
</table>
